<html>
    <head>
        <title>Gallery {% block title %} {% endblock %}</title>
        <style type="text/css">
            body {margin: 30px; font-family: sans-serif; background: #fff;}
            h1 {background: #ccf; padding: 20px;}
            h2 {background: #ddf; padding: 10px 20px;}
            h3 {background: #eef; padding: 5px 20px;}
            table {width: 100%}
            table th {text-align: left;}
        </style>
    </head>
    <body>
        <h1>Gallery</h1>
        {% block content %}{% endblock %}
    </body>
</html>