{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<h2>Welcome to the Gallery</h2>
<h3>Showcases</h3>
<table>
    <tr>
        {% for item in item_list %}
        <td>
            <a href="{{item.get_absolute_url}}"> <b>{{item.name}}</b><br/>
                {% if item.photo_set.count %}
                <img src="{{item.photo_set.all.0.image.thumb_url}}">
                {% else %}
                <span>No photo yet</span>
                {% endif %}
            </a>
        </td>
        {% endfor %}
    </tr>
</table>
<p><a href="{% url 'items' %}">View the full list</a></p>
{% endblock %}