{% extends 'base.html' %}
{% block title %}Item list{% endblock %}

{% block content %}
<p><a href="{% url 'home' %}">Back to main page</a></p>
<h2>Items</h2>
{% if item_list %}
<table>
    <tr>
        <th>Name</th>
        <th>Sample thumb</th>
        <th>Description</th>
    </tr>
    {% for item in item_list %}
    <tr>
        <td><i>{{item.name}}</i></td>
        <td>
            {% if item.photo_set.count %}
            <a href="{{item.get_absolute_url}}">
                <img src="{{item.photo_set.all.0.image.thumb_url}}">
            </a>
            {% else %}
            (No photo current uploadet)
            {% endif %}
        </td>
        <td>{{item.description}}</td>
    </tr>
    {% endfor%}
</table>
{% else %}
{% endif %}
{% endblock %}