{% extends 'base.html' %}
{% block title%}{{item_detail.name}}{% endblock %}
{% block content %}
<p><a href="{% url 'items' %}"> Back to full items list</a></p>
<h2>{{item_detail.name}}</h2>
<p>{{item_detail.description}}</p>
<h3>Photos</h3>
<table>
    <tr>
        <th>Title</th>
        <th>Thumbnail</th>
        <th>Caption</th>
    </tr>
    {% for photo in item_detail.photo_set.all %}
    <tr>
        <td><i>{{photo.title}}</i></td>
        <td>
            <a href="{{photo.get_absolute_url}}">
                <img src="{{photo.image.thumb_url}}">
            </a>
        </td>
        <td>{{photo.caption}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}