{% extends 'base.html' %}
{% block title %}{{photo_detail.name}} - {{photo_detail.title}}{% endblock %}
{% block content %}
<a href="{{photo_detail.item.get_absolute_url}}">item detail page</a>
<h2>{{photo_detail.item.name}} - {{photo_detail.title}}</h2>
<img src="{{photo_detail.image.url}}"/>
{% if photo_detail.caption %}
<p>{{photo_detail.caption}}</p>
{% endif %}
{% endblock %}